In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [2]:
#store the csv created in part one as a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2020-08-19 01:33:50,-8.93,125.41,75.65,32,3,4.18
1,1,Hwange,ZW,2020-08-19 01:33:50,-18.37,26.50,59.72,27,0,8.34
2,2,Hinton,CA,2020-08-19 01:33:50,53.40,-117.59,73.56,30,87,7.65
3,3,Rikitea,PF,2020-08-19 01:33:29,-23.12,-134.97,71.85,81,38,8.19
4,4,Bluff,NZ,2020-08-19 01:33:50,-46.60,168.33,55.99,80,87,7.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [5]:
#heatmap of temperature
#get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#get the maximum temperature 
max_temp = city_data_df['Max Temp']
#assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#heatmap of humidity
#get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#get the maximum temperature 
humidity = city_data_df['Humidity']
#assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of cloudiness
#get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#get the maximum temperature 
clouds = city_data_df['Cloudiness']
#assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of wind speed
#get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
#get the maximum temperature 
wind = city_data_df['Wind Speed']
#assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#ask the customer to add a minimum and maximum temperature value/
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [10]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & 
                                       (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2020-08-19 01:33:50,-8.93,125.41,75.65,32,3,4.18
7,7,Saint Pete Beach,US,2020-08-19 01:30:39,27.73,-82.74,84.99,74,1,3.36
10,10,Gizo,SB,2020-08-19 01:33:50,-8.10,156.84,82.72,76,98,5.35
11,11,Hilo,US,2020-08-19 01:33:50,19.73,-155.09,82.40,61,90,4.70
17,17,Coahuayana,MX,2020-08-19 01:33:51,18.73,-103.68,77.70,86,100,1.45
23,23,Yumen,CN,2020-08-19 01:33:51,40.28,97.20,78.48,17,0,17.87
31,31,Port Moresby,PG,2020-08-19 01:33:53,-9.44,147.18,82.40,69,40,5.82
43,43,Kavieng,PG,2020-08-19 01:33:53,-2.57,150.80,83.89,72,34,7.92
45,45,Bandarbeyla,SO,2020-08-19 01:33:54,9.49,50.81,77.50,74,85,25.95
49,49,Banjar,ID,2020-08-19 01:33:54,-8.19,114.97,80.60,94,40,13.87

In [11]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [12]:
#create dataframe called hotel_df and store hotel names along with city,country,max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                City Country  Max Temp    Lat     Lng Hotel Name
0              Airai      TL     75.65  -8.93  125.41
7   Saint Pete Beach      US     84.99  27.73  -82.74
10              Gizo      SB     82.72  -8.10  156.84
11              Hilo      US     82.40  19.73 -155.09
17        Coahuayana      MX     77.70  18.73 -103.68
23             Yumen      CN     78.48  40.28   97.20
31      Port Moresby      PG     82.40  -9.44  147.18
43           Kavieng      PG     83.89  -2.57  150.80
45       Bandarbeyla      SO     77.50   9.49   50.81
49            Banjar      ID     80.60  -8.19  114.97

In [14]:
#set parameters to search for a hotel
params = {
    'radius':5000,
    'type':'lodging',
    'key':g_key
}

In [19]:
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #use the search term: 'lodging' and out latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get the json data from the search
    hotels = requests.get(base_url,params=params).json()
    
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Airai,TL,75.65,-8.93,125.41,Juvinal Martin
7,Saint Pete Beach,US,84.99,27.73,-82.74,TradeWinds Island Grand Resort
10,Gizo,SB,82.72,-8.10,156.84,Imagination Island
11,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
17,Coahuayana,MX,77.70,18.73,-103.68,Hotel Los Arcos
23,Yumen,CN,78.48,40.28,97.20,
31,Port Moresby,PG,82.40,-9.44,147.18,Lamana Hotel
43,Kavieng,PG,83.89,-2.57,150.80,Nusa Island Retreat
45,Bandarbeyla,SO,77.50,9.49,50.81,REER XOOSHLE GROUP
49,Banjar,ID,80.60,-8.19,114.97,The Hamsa Resort

In [24]:
#add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))