## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Goderich,CA,82.00,clear sky,43.75,-81.72,Harmony Inn
1,14,San Quintin,MX,80.24,clear sky,30.48,-115.95,Old Mill Hotel
2,17,Bathsheba,BB,87.80,few clouds,13.22,-59.52,Atlantis Hotel
3,27,San Juan De Opoa,HN,83.34,moderate rain,14.78,-88.70,AquaPark y Club Campestre El Yate
4,29,Butaritari,KI,82.27,overcast clouds,3.07,172.79,Isles Sunset Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Goderich,CA,82.00,clear sky,43.75,-81.72,Harmony Inn
1,14,San Quintin,MX,80.24,clear sky,30.48,-115.95,Old Mill Hotel
2,17,Bathsheba,BB,87.80,few clouds,13.22,-59.52,Atlantis Hotel
3,27,San Juan De Opoa,HN,83.34,moderate rain,14.78,-88.70,AquaPark y Club Campestre El Yate
4,29,Butaritari,KI,82.27,overcast clouds,3.07,172.79,Isles Sunset Lodge

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bereda']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bereda']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Muros']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Vila'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Barcelos']

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

#reshaping arrays into tuples to input into gmaps directions layer
start = tuple(start.reshape(1, -1)[0])
end = tuple(end.reshape(1, -1)[0])
stop1 = tuple(stop1.reshape(1, -1)[0])
stop2 = tuple(stop2.reshape(1, -1)[0])
stop3 = tuple(stop3.reshape(1, -1)[0])

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
Bereda_roundtrip = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(Bereda_roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,337,Bereda,ES,77.00,scattered clouds,43.27,-7.54,Pazo de Verdes
1,219,Muros,ES,75.99,few clouds,42.78,-9.06,Apartment Av. Castelao
2,101,Vila,PT,77.00,broken clouds,42.03,-8.16,Hotel Castrum Villae
3,411,Barcelos,PT,75.99,scattered clouds,41.54,-8.62,Hotel Do Terço

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))